<div class="work_detail">
    <hr class="separator-row">
    <div class="col-xs-8">
        <div class="work_slideshow stagger4">
            {% for image in realisation.projectImages %}
                <img src="{{ image.urlImage }}" class="d-inline-block align-top image-slide" alt="">
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-4">
        <h2 class="stagger1">{{ realisation.projetName }}</h2>
        <p class="stagger2"><em>{{ realisation.shortDescription }}</em></p>
        <p class="stagger3">{{ realisation.description }}</p>
    </div>
    <hr class="separator-row">
</div>
