<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4">
            <h6 style="font-size: 0.8em;"><strong>A propos</strong></h6>
            <p class="text-muted">
                <em>
                    Je m'appelle Jérôme LELIEVRE et j'ai 22 ans. J'ai commencé le développement web à l'âge de 13 ans pour développer des petits sites web personnels.
                    Faute de temps j'ai repris le développement beaucoup plus tard. Autodidacte de formation, j'aime expérimenter, découvrir et apprendre au fur et à mesure de mes projets.
                </em>
            </p>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <h6 style="font-size: 0.8em;"><strong>Retrouvez moi sur les réseaux sociaux</strong></h6>
            <p class="text-muted">
                <a href="https://github.com/kayzore" style="text-decoration: none;" id="social-gh">
                    <i class="fa fa-github-square fa-3x social"></i>
                </a>
                <a href="https://www.linkedin.com/in/lelievre-j%C3%A9r%C3%B4me-360065b8" style="text-decoration: none;" id="social-ld">
                    <i class="fa fa-linkedin-square fa-3x social"></i>
                </a>
                <a href="mailto:jerome.lelievre2@gmail.com" style="text-decoration: none;" id="social-em">
                    <i class="fa fa-envelope-square fa-3x social"></i>
                </a>
            </p>
        </div>
    </div>
</div>
